# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# Visual Studio
*.ncb
*.suo
*.user
*.xml
*.sln
*.sdf
*.pdb
*.ilk
*.opensdf
/DebugGoogleTest/
/Debug/

# No Binary
/bin_gtest/IFComicDownloader.*
/download/*
*.cache
*.index
*.jpg
*.png
*.rar

# No Download Result
/download/*
/test-lua/run_test.bat
/bin/log/*.log
/log
/bin_gtest
